/* Feuille de style contenant des règles appliquées à tous les types d'écran, sans exception
Les règles sont définies dans l'ordre d'apparition des balises de la page HTML */

/* On importe ici la police d'écriture utilisée par la page web */
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Italic";
	src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: calc( 1.4em + 1vw);
	font-family: "Montserrat", sans-serif, serif;
	position: relative;
	color: white;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(180,32,32,1) 100%);
}

nav {
	position: sticky;
	top: 0;
	background-color: black;
	z-index: 2;
	font-size: 1.5em;
}

#menu_visible {
	display: flex;
	align-items: center;
	gap: 40%;
	padding: 1vh 4vw;
}

a {
	color: white;
	font-style: normal;
	text-decoration: none;
}

#logo {
	position: relative;
	text-transform: uppercase;
	top: 3px;
}

#logo span {
	color: rgba(180,32,32,1);
}

menu {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	margin-left: 9vw;
	margin-right: 3vw;
}

menu li {
	display: inline-block;
	text-align: center;
	margin-bottom: 1vh;	
	text-transform: uppercase;
}

header {
	scroll-margin-top: 18.5vh;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 2.5em;
	text-transform: uppercase;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section {
	scroll-margin-top: 7vh;
	position: relative;
	background-color: rgba(180,32,32,1);
	border: 6px solid rgba(180,32,32,1);
	box-shadow: 0px 5px 2vh rgb(180, 32, 32);
	margin: 1vh 2vw 2vh;
	padding: 0 1vw;
	animation: opening 1s;
}

@keyframes opening {
	from {
		left: -750px;
		opacity: 0;
	}
	
	to {
  	left: 0;
		opacity: 1;
	}
}

#a_propos {
	display: flex;
	flex-direction: column;
	height: 100%;
}

h2 {
	display: block;
	margin: 0;
	padding-top: 0;
	font-size: 1.75em;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

#a_propos img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
	border: 4px groove rgba(180,32,32,1);
}

#enveloppe {
	display: flex;
	align-items: center;
	gap: 1vw;
}

#special {
	display: flex;
	flex-direction: column;
	gap: 2vh;
	flex-grow: 3;
	order: -1;
	width: 100%;
}

p span { 
	font-style: italic;
}

#blagounette {
	font-size: 0.5em;
}

#travaux p {
	margin: 1vh 0 1vh;
}

#contenu_travaux {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3vw;
	text-align: center;
	font-style: italic;
}

#contenu_travaux div {
	border: 4px groove rgba(180,32,32,1);
	max-width: 45%;
}

#contenu_galerie {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 1vw;
}

#contenu_galerie figure {
  border: 4px groove rgba(180,32,32,1);
}

#contenu_galerie figcaption {
	text-align: center;
	font-style: italic;
}

#contenu_galerie dialog {
	font-weight: bold;
	background-color: black;
	color: white;
	padding: 2vw;
	border: 2px groove rgb(180, 32, 32);
	top: 10vh;
	left: 4vw;
}

#contenu_galerie dialog img {
	width: 100%;
}

#contenu_galerie dialog button {
	font-weight: bold;
	background-color: black;
	color: white;
	padding: 2vw;
	position: absolute;
	border: 2px groove rgb(180, 32, 32);
	top: 1vh;
	right: 2vw;
}

#contenu_contact {
	display: flex;
	flex-direction: column;
	font-size: 0.95em;
}

/* Début de bloc en développement */
#boutonContact {
	font-style: italic;
}

#boutonContact:hover {
	cursor: pointer;
}

#contenu_contact dialog {
	background-color: black;
	position: fixed;
	top: 19%;
	left: 27%;
}

#contenu_contact dialog[open] {
	animation: formulaireOuverture 2s;
}

@keyframes formulaireOuverture {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 100%;
	}
}

form {
	display: flex;
	flex-direction: column;
	background-color: rgba(180,32,32,1);
	border: 6px solid rgba(180,32,32,1);
	box-shadow: 0px 5px 2vh rgb(180, 32, 32);
}

.fermeture {
	animation: formulaireFermeture 2s;
}

@keyframes formulaireFermeture {
	from {
		opacity: 100%;
	}
	
	to {
		opacity: 0;
	}
}

h3 {
	text-align: center;
	color: white;
	font-size: 1.5em;
	margin-top: 0.5vh;
}

#bouton_fermer {
	position: absolute;
	font-weight: bold;
	background-color: black;
	color: white;
	padding: 1vw;
	border: 2px groove rgb(180, 32, 32);
	top: 1vh;
	right: 2vw;
}

#bouton_fermer:hover {
	cursor: pointer;
}

#enveloppe_formulaire {
	margin: 5%;
}

.ligne {
	display: flex;
	justify-content: space-between;
}

.colonne {
	display: flex;
	flex-direction: column;
	width: 49%;
}

label {
	color: white;
	margin-bottom: 1vh;
}

input {
	font-size: 1em;
	margin-bottom: 3vh;
}

input[name="adresse_courriel"] {
	width: 100%;
	margin-top: 1vh;
}

#colonne_message {
	width: 100%;
}

textarea {
	width: 100%;
	height: 18vh;
	font-size: 1em;
	margin-top: 1vh;
}

#envoyer {
	display: flex;
	justify-content: center;
}

button[type="submit"] {
	width: 15vw;
	height: 10vh;
	font-size: 1em;
	color: white;
  font-weight: bold;
	background-color: black;
	border: 2px groove rgb(180, 32, 32);
	text-transform: uppercase;
}

button[type="submit"]:hover {
  cursor: pointer;
}
/* Fin de bloc en développement */

footer {
	font-size: 0.8em;
	text-align: center;
}

footer p a {
	font-weight: bold;
}