/* Une CSS dédiée aux « smartphones », dont les règles sont définies dans l'ordre d'apparition des balises de la page HTML */

#menu_visible {
	gap: 20%;
}

#enveloppe {
	flex-direction: column;
	gap: 2vh;
}

#a_propos img {
	max-width: 90%;
}

#special {
  max-width: 90%;
	order: 1;
}