/* Une CSS spécifique aux ordinateurs, dont les règles sont définies dans l'ordre d'apparition des balises de la page HTML  */

#burger {
	visibility: hidden;
}

menu {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
}

section {
	scroll-margin-top: 20vh;
}

#a_propos img {
	max-width: 25%;
}

#special {
	gap: 10vh;
}

#contenu_travaux a:hover {
	filter: contrast(0.5);
}

#contenu_galerie > figure {
	max-width: 49%;
}

#contenu_galerie dialog img {
	height: 80%;
}